.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        * {
            width: 100%;
            margin: 0 0.5em;
            height: 3em;
        }
    }
}
