.main {
    display: flex;
    flex-grow: 1;

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 40em;
        align-items: center;

        .error {
            color: red;
        }

        .success {
            color: green;
        }

        .header {
            margin-bottom: 6em;
            color: rgba(128, 128, 128);
        }

        .view {
            margin-bottom: 3em;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
            width: 100%;

            * {
                width: 100%;
                margin: 0 0.5em;
                height: 3em;
            }
        }
    }
}
